$primary-color: #2a9d8f;
$secondary-color: #264653;
$primary-accent-color: #e9c46a;
$secondary-accent-color: #f4a261;
$third-accent-color: #e76f51;

.test {
  background-color: $primary-color;
  height: 2000px;
}



