$text-color: #ea7129;
$button-text-color: #f1faeeff;
$background-color: #f1faeeff;
$block-color: #a8dadcff;
$button-color: #457b9dff;
$button-active-color: #1d3557ff;

body {
  margin: 0;
}

h1 {
  font-family: Arial;
  color: $text-color;
  text-align: center;
}

h2 {
  font-family: Arial;
  color: $text-color;
  text-align: center;
}

p {
  font-family: Arial;
  color: $text-color;
  text-align: center;
}

.background {
  height: fit-content;
  min-height: 1000px;
  background-color: $background-color;
  padding-top: 100px;
}
